[submodule "submodules/SysCore"]
	path = submodules/SysCore
	url = https://github.com/tgriebel/SysCore.git
[submodule "submodules/GfxCore"]
	path = submodules/GfxCore
	url = https://github.com/tgriebel/GfxCore.git
