*.db
*.ipch
*.obj
!xtensa/assets/models/**/*.obj
*.pdb
*.recipe
*.pch
*.lastbuildstate
*.tlog
*.ipdb
*.idb
*.exe
*.iobj
*.ilk
*.opendb
*.db-wal
*.db-shm
*.lib
*.log
*.tmp
*.nes
*.vsidx
*.user

/.vs
.claude/

xtensa/baked/
xtensa/_unused_assets/
xtensa/imgui.ini
xtensa/LocalConfig.ini
xtensa/x64/Debug/
xtensa/x64/Release/

x64/Debug/Chess.lib
x64/Debug/SysCore.lib

!external/vulkan/Bin/*.exe

!external/**/*.lib
!xtensa/scenes/chess/libs/*.lib
xtensa/log.txt
*.ngfx-capture
