
.vs/SysCore/v16/
SysCore.vcxproj
SysCore.vcxproj.filters

*.obj
*.lib
*.pdb
*.exe
*.dll
*.ilk
*.idb
*.iobj
*.ipdb
*.log
*.tlog
*.recipe
*.lastbuildstate
*.sarif
CodeAnalysisResultManifest.txt

/x64
/SysCore
